/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */


:root {
    --ifm-color-primary: #164b56;
    --ifm-color-primary-dark: #14434d;
    --ifm-color-primary-darker: #134049;
    --ifm-color-primary-darkest: #0f343c;
    --ifm-color-primary-light: #18525f;
    --ifm-color-primary-lighter: #195663;
    --ifm-color-primary-lightest: #1d6170;
}

article a {
    text-decoration: underline;
}
